body {
  font-family: Roboto, sans-serif;
}
.container {
  /* width: 80%;
  margin: 0 auto;
  border: 0.1rem solid #edeff0;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem #ddd;
  min-height: 100vh; */
}
.left,
.right {
  width: 50%;
  float: left;
}
