header {
  background-color: black;
  color: #fff;
  padding: 1.5rem 1rem;
  text-align: center;
}
.main {
  width: 80%;
  margin: auto;
  background-color: #f1e9e9;
  padding: 15px;
}
footer {
  background-color: black;
  color: #fff;
  padding: 1.5rem 1rem;
  text-align: center;
}
